* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.icon {
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu ul li a:hover {
    text-decoration:underline;
    color: red;
}

.search {
    display: flex;
    align-items: center;
}

.srch {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: red;
}

.zaglawie {
    margin: 20px 0;
    text-align: center;
}

.zaglawie h1 {
    font-size: 36px;
    color: red;
}
.zaglawie h4{
    color: white;
}
.text {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    left: 50px;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.text p {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.text a {
    color: white;
    text-decoration: none;
}

.text a:hover {
    color: red;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: red;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: white;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: -250px;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
}

.footer-content .social-media {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
}

.footer-content .social-media li {
    margin: 0 10px;
}

.footer-content .social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.footer-content .social-media li a:hover {
    color: red;
    text-decoration: underline;
}








